.md-logo__variant {
    display: inline-flex;
    align-items: center;
}

.md-logo__variant--dark {
    display: none;
}

[data-md-color-scheme="slate"] .md-logo__variant--light {
    display: none;
}

[data-md-color-scheme="slate"] .md-logo__variant--dark {
    display: inline-flex;
}

.md-logo__variant .md-logo__image {
    display: block;
}

.md-source-file__fact .md-author img {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
}

.md-source-file__fact .md-author--more {
    border-radius: 100%;
    display: inline-block;
    font-size: .6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    width: 1.5rem;
    background-color: var(--md-default-fg-color--lightest);
    color: var(--md-default-fg-color--light);
}

.md-typeset img.sponsor-logo {
    display: block;
    margin: 0 auto;
    width: 20rem;
    max-width: 100%;
    height: 8rem;
    object-fit: contain;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: var(--md-shadow-z1);
}
